.StripeElement {
    box-sizing: border-box;
    padding: 10px 12px;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    background-color: white;
}

.StripeElement--focus {
    border-color: #033555;
    box-shadow: 0 0 0 2px rgba(3, 53, 85, 0.2);
}

.StripeElement--invalid {
    border-color: #e63946;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.animate-spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}