<div class="flex flex-col gap-4 max-w-[900px] my-[3%] sm:max-w-[800px] max-lg:max-w-[900px] sm:ml-28">
  <div>
    <h2 class="text-[25px] sm:text-[30px] font-[700] text-fontColor">Add Product</h2>
  </div>

  <div class="p-6 bg-white shadow-md border rounded-lg border-fontColor">
    <div class="mt-6">
      <div class="w-[100px] h-[100px]">
        <img src="images/images ui/ProfileImg.png" class="w-full h-full rounded-full" alt="Profile Image">
      </div>
    </div>

    <form class="mt-6">
      <div class="relative">
        <label for="name"
          class="absolute left-4 top-[-15px] text-[16px] md:text-[20px] text-fontColor bg-white px-1">Name</label>
        <input type="text" id="name"
          class="block max-sm:w-full sm:w-[70%] px-4 pt-2 pb-2 mt-2 bg-white rounded-lg border border-fontColor" />
      </div>

      <div class="relative mt-4">
        <label for="description"
          class="absolute left-4 top-[-15px] text-[16px] md:text-[20px] text-fontColor bg-white px-1">Description</label>
        <input type="text" id="description"
          class="block max-sm:w-full sm:w-[70%] px-4 pt-2 pb-2 mt-2 bg-white rounded-lg border border-fontColor" />
      </div>

      <div class="relative mt-4">
        <label for="sizes"
          class="absolute left-4 top-[-15px] text-[16px] md:text-[20px] text-fontColor bg-white px-1">sizes</label>
        <input type="text" id="sizes"
          class="block max-sm:w-full sm:w-[70%] px-4 pt-2 pb-2 mt-2 bg-white rounded-lg border border-fontColor" />
      </div>

      <div class="relative mt-4">
        <label for="colors"
          class="absolute left-4 top-[-15px] text-[16px] md:text-[20px] text-fontColor bg-white px-1">colors</label>
        <input type="text" id="colors"
          class="block max-sm:w-full sm:w-[70%] px-4 pt-2 pb-2 mt-2 bg-white rounded-lg border border-fontColor" />
      </div>

      <div class="relative mt-4">
        <label for="price"
          class="absolute left-4 top-[-15px] text-[16px] md:text-[20px] text-fontColor bg-white px-1">price</label>
        <input type="text" id="price"
          class="block max-sm:w-full sm:w-[70%] px-4 pt-2 pb-2 mt-2 bg-white rounded-lg border border-fontColor" />
      </div>

      <div class="relative mt-4">
        <label for="quantity"
          class="absolute left-4 top-[-15px] text-[16px] md:text-[20px] text-fontColor bg-white px-1">quantity</label>
        <input type="text" id="quantity"
          class="block max-sm:w-full sm:w-[70%] px-4 pt-2 pb-2 mt-2 bg-white rounded-lg border border-fontColor" />
      </div>

      <div class="relative mt-4">
        <label for="category"
          class="absolute left-4 top-[-15px] text-[16px] md:text-[20px] text-fontColor bg-white px-1">category</label>
        <input type="text" id="category"
          class="block max-sm:w-full sm:w-[70%] px-4 pt-2 pb-2 mt-2 bg-white rounded-lg border border-fontColor" />
      </div>

      <div class="relative mt-4">
        <label for="subcategory"
          class="absolute left-4 top-[-15px] text-[16px] md:text-[20px] text-fontColor bg-white px-1">subcategory</label>
        <input type="text" id="subcategory"
          class="block max-sm:w-full sm:w-[70%] px-4 pt-2 pb-2 mt-2 bg-white rounded-lg border border-fontColor" />
      </div>

      <div class="mt-6 sm:text-right">
        <button class="px-12 py-2 text-[16px] text-white bg-primary rounded-[16px]">
          Save
        </button>
      </div>
    </form>
  </div>
</div>
