<div class="flex flex-wrap justify-center items-center gap-8 mt-[55px] px-4 md:px-0">
  <div class="relative w-full max-w-[480px] md:w-auto">
    <img class="w-full max-w-[480px]" src="images/images ui/authnilebrand.png">
    <img class="absolute w-[120px] inset-0 top-[40%] mx-auto" src="images/images ui/nile brand.png">
  </div>

  <div class="w-full h-[600px] max-w-[375px] p-6">
    <div>
      <h2 class="text-[28px] md:text-[35px] font-[700] text-fontColor text-center md:text-left">Forgot Password?</h2>
    </div>

    <div class="mt-2">
      <p class="text-[20px] text-secondary">Enter your email address to get the
        password reset link.</p>
    </div>


    <form class="mt-12">

      <div class="relative">
        <label for="email"
          class="absolute left-4 top-[-15px] text-[16px] md:text-[20px] text-fontColor bg-white px-1">E-mail</label>
        <input type="email" id="email" class="block w-full px-4 pt-2 pb-2 mt-2 bg-white rounded-lg" />
      </div>


      <div class="mt-12">
        <button class="w-full px-6 py-2 text-[16px] md:text-[20px] text-white bg-primary rounded-full">
          Password Reset
        </button>
      </div>
    </form>

    <div class="mt-52">
      <p class="text-[13px] text-center font-[500] cursor-pointer">Don't have an account <span class="text-primary">sign up now</span></p>
    </div>

  </div>
</div>
