<div class="flex flex-col gap-4 max-w-[900px] my-[5%] sm:max-w-[800px] max-lg:max-w-[900px] sm:ml-28">
  <div>
    <h2 class="text-[25px] sm:text-[30px] font-[700] text-fontColor">Update Brand</h2>
  </div>

  <div class="p-6 bg-white shadow-md border rounded-lg border-fontColor">
    <div class="mt-6">
      <div class="flex flex-col gap-2">
        <div class="w-[100px] h-[100px]">
          <img src="images/images ui/ProfileImg.png" class="w-full h-full rounded-full" alt="Profile Image">
        </div>
        <p class="text-fontColor ml-8">Logo</p>
      </div>

    </div>

    <form class="mt-6">
      <div class="relative">
        <label for="name"
          class="absolute left-4 top-[-15px] text-[16px] md:text-[20px] text-fontColor bg-white px-1">Name</label>
        <input type="text" id="name" placeholder="Handmade Creations"
          class="block max-sm:w-full sm:w-[70%] px-4 pt-2 pb-2 mt-2 bg-white rounded-lg border border-fontColor placeholder:text-placeholder" />
      </div>

      <div class="relative mt-4">
        <label for="description"
          class="absolute left-4 top-[-15px] text-[16px] md:text-[20px] text-fontColor bg-white px-1">Description</label>
        <input type="text" id="description" placeholder="A brand showcasing unique handmade crafts from Egypt"
          class="block max-sm:w-full sm:w-[70%] px-4 pt-2 pb-2 mt-2 bg-white rounded-lg border border-fontColor placeholder:text-placeholder" />
      </div>

      <div class="relative mt-4">
        <label for="taxID"
          class="absolute left-4 top-[-15px] text-[16px] md:text-[20px] text-fontColor bg-white px-1">taxID</label>
        <input type="text" id="taxID" placeholder="12345789"
          class="block max-sm:w-full sm:w-[70%] px-4 pt-2 pb-2 mt-2 bg-white rounded-lg border border-fontColor placeholder:text-placeholder" />
      </div>

      <div class="mt-6 sm:text-right">
        <button class="px-12 py-2 text-[16px] text-white bg-primary rounded-[16px]">
          Save Changes
        </button>
      </div>
    </form>
  </div>
</div>
