<!-- Loading Spinner -->
<div *ngIf="isLoading" class="flex items-center justify-center min-h-screen">
  <div class="animate-spin">
    <img [src]="logo" alt="Logo" class="w-40 h-40" />
  </div>
</div>

<!-- Full Page Content -->
<ng-container *ngIf="!isLoading">
  <div class="w-full pt-16 sm:pt-20">
    <!-- Banner Section -->
    <section
      class="relative w-full h-[250px] sm:h-[300px] md:h-[400px] lg:h-[400px] flex flex-col justify-start pt-10 bg-gradient-to-b from-[#cde3db] to-[#f5d9a0] overflow-hidden">
      <img [src]="home_page" class="absolute inset-0 h-full w-full object-cover opacity-0 animate-zoom-in" />
      <div class="relative z-10 text-left text-fontColor px-4 sm:px-6 md:px-12 max-w-2xl">
        <h1 class="text-lg sm:text-3xl md:text-3xl font-semibold lg:text-4xl leading-tight">
          <span class="block opacity-0 animate-slide-up [animation-delay:200ms]">
            Support Egyptian Artisans and
          </span>
          <span class="block opacity-0 animate-slide-up [animation-delay:300ms]">
            Small Businesses, Delivered to
          </span>
          <span class="block ml-12 sm:ml-4 md:ml-24 lg:ml-28 opacity-0 animate-slide-up [animation-delay:400ms]">
            Your Door
          </span>
        </h1>
      </div>
    </section>

    <!-- Category / Subcategory Menu -->
    <div
      class="container mx-auto flex flex-wrap justify-center gap-4 pt-6 text-xs sm:text-sm md:text-base relative overflow-visible">
      <div *ngFor="let category of categories" class="relative group overflow-visible">
        <a (click)="filterCategory(category)" class="cursor-pointer transition-all duration-300 ease-in-out px-2 py-1"
          [ngClass]="selectedCategory === category.name ? 'text-primary font-semibold' : 'text-fontColor font-normal hover:font-bold hover:scale-105'">
          {{ category.name | titlecase }}
        </a>
        <!-- Dropdown for Subcategories -->
        <div *ngIf="getSubcategoriesForCategory(category.name).length"
          class="absolute left-0 mt-2 w-48 bg-white text-fontColor shadow-lg rounded-md border border-primary opacity-0 scale-50 pointer-events-none transform translate-y-2 transition-all duration-150 group-hover:opacity-100 group-hover:scale-100 group-hover:translate-y-0 group-hover:pointer-events-auto z-50 overflow-visible">
          <div
            class="absolute -top-2 left-1/4 w-2 h-2 border-l-4 border-r-4 border-b-4 border-l-transparent border-r-transparent border-b-primary">
          </div>
          <div *ngFor="let subcat of getSubcategoriesForCategory(category.name)" (click)="filterSubcategory(subcat)"
            class="px-4 py-2 text-sm hover:bg-primary hover:text-white rounded-md cursor-pointer">
            {{ subcat.name }}
          </div>
        </div>
      </div>
    </div>

    <!-- Selected Category Title -->
    <div *ngIf="selectedCategory !== 'All'" class="container mx-auto mt-6 px-4">
      <h2 class="text-2xl text-center font-bold text-primary">
        {{ selectedCategory | titlecase }}
      </h2>
    </div>

    <!-- Product Card Template -->
    <ng-template #productCard let-product>
      <div class="w-full bg-gray-300 rounded-md shadow-lg p-3 relative">
        <div class="relative w-full aspect-[4/3] sm:aspect-square overflow-hidden rounded-md">
          <img [src]="getProductImageUrl(product)" alt="{{ product.name }}"
            class="w-full h-full object-cover rounded-md p-1" />
          <button (click)="toggleWishlistOrRedirect(product)"
            [ngClass]="{'text-red-600': isLoggedIn && wishlistService.isInWishlist(product)}"
            class="absolute bottom-2 right-2 text-lg transition-all wishlist-button hover:bg-primary hover:text-red-600 rounded-full p-2 bg-white shadow-md">
            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 13 12" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M3.6717 0.634945C4.32061 0.634945 4.95186 0.800949 5.5135 1.13046C5.91505 1.36646 6.24808 1.66847 6.49972 2.01448C6.75136 1.66847 7.08438 1.36646 7.48594 1.13046C8.5348 0.515441 9.82299 0.470439 11.0212 1.00896C11.5545 1.24846 12.0058 1.61297 12.3265 2.06298C14.1983 4.68856 11.3409 8.31816 8.04222 10.8392C7.14756 11.5228 5.85081 11.5223 4.95721 10.8392C1.65857 8.31816 -1.1989 4.68806 0.673422 2.06298C0.99413 1.61297 1.44494 1.24846 1.97874 1.00896C2.5345 0.758947 3.11006 0.634444 3.6717 0.634444V0.634945Z" />
            </svg>
          </button>
        </div>
        <div class="p-3">
          <p class="font-bold text-lg text-fontColor break-words">
            {{ product.name.length > 15 ? (product.name | slice:0:15) + '...' : product.name }}
          </p>
          <div class="flex justify-between items-center mt-2">
            <p class="font-semibold text-fontColor text-lg">{{ product.price }} EGP</p>
            <button class="bg-transparent text-fontColor text-lg">
              <svg class="w-8 h-6 transition-all duration-300 hover:fill-primary" viewBox="0 0 19 21">
                <path
                  d="M11.5362 18.6862C11.5362 19.5984 12.1984 20.3448 13.0077 20.3448C13.8171 20.3448 14.4792 19.5984 14.4792 18.6862C14.4792 17.7739 13.8171 17.0275 13.0077 17.0275C12.1984 17.0275 11.5362 17.7739 11.5362 18.6862ZM5.65028 17.0275C6.4596 17.0275 7.12177 17.7739 7.12177 18.6862C7.12177 19.5984 6.4596 20.3448 5.65028 20.3448C4.84096 20.3448 4.17879 19.5984 4.17879 18.6862C4.17879 17.7739 4.84096 17.0275 5.65028 17.0275ZM6.38603 2.92928V4.5879H0.500065V2.92928H6.38603ZM3.31797 11.2224H14.1702L14.8618 4.5879H7.85752V2.92928H15.0384L15.0678 2.63902C15.2003 1.38676 16.142 0.441345 17.2603 0.441345H18.158V2.09997H17.2603C16.8851 2.09997 16.5761 2.4151 16.532 2.82976L15.3695 14.0006C15.237 15.2528 14.2953 16.1982 13.177 16.1982H3.4504V14.5396H13.1696C13.5448 14.5396 13.8538 14.2245 13.898 13.8098L13.9936 12.881H2.09663L1.16224 7.07583H2.6558L3.32533 11.2224H3.31797Z" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </ng-template>

    <!-- "All" View -->
    <div *ngIf="selectedCategory === 'All'"
      class="mt-7 px-4 sm:px-20 lg:px-16 xl:px-20 2xl:px-24 max-w-[1400px] mx-auto">
      <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
        <ng-container *ngFor="let product of getDisplayedProducts(); trackBy: trackByProductId">
          <ng-container *ngTemplateOutlet="productCard; context:{ $implicit: product }"></ng-container>
        </ng-container>
      </div>
      <div class="flex justify-center my-10" *ngIf="visibleProductsCount < filteredProducts.length">
        <button (click)="seeMore()"
          class="px-4 py-2 bg-[#B7D6C6] text-fontColor text-lg font-bold rounded-lg hover:bg-primary hover:text-white transition-all">
          See more..
        </button>
      </div>
    </div>

    <!-- Specific Category View -->
    <div *ngIf="selectedCategory !== 'All'"
      class="mt-7 px-4 sm:px-20 lg:px-16 xl:px-20 2xl:px-24 max-w-[1400px] mx-auto">
      <!-- Show All Subcategories -->
      <div *ngIf="selectedSubcategory === 'All'">
        <div *ngFor="let subcat of getSubcategoriesForCategory(selectedCategory)" class="mb-12">
          <h3 class="text-xl font-semibold text-fontColor mb-4">{{ subcat.name }}</h3>
          <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
            <ng-container *ngFor="let product of getProductsForSubcategory(subcat.name); trackBy: trackByProductId">
              <ng-container *ngTemplateOutlet="productCard; context:{ $implicit: product }"></ng-container>
            </ng-container>
          </div>
        </div>
        <!-- Global See More Button for the Category when Subcategory is "All" -->
        <div class="flex justify-center my-10" *ngIf="visibleProductsCount < filteredProducts.length">
          <button (click)="seeMore()"
            class="px-4 py-2 bg-[#B7D6C6] text-fontColor text-lg font-bold rounded-lg hover:bg-primary hover:text-white transition-all">
            See more..
          </button>
        </div>
      </div>
      <!-- Show Selected Subcategory with Slicing -->
      <div *ngIf="selectedSubcategory !== 'All'">
        <h3 class="text-xl font-semibold text-fontColor mb-4">{{ selectedSubcategory }}</h3>
        <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
          <ng-container *ngFor="let product of getDisplayedProducts(); trackBy: trackByProductId">
            <ng-container *ngTemplateOutlet="productCard; context:{ $implicit: product }"></ng-container>
          </ng-container>
        </div>
        <div class="flex justify-center my-10" *ngIf="visibleProductsCount < filteredProducts.length">
          <button (click)="seeMore()"
            class="px-4 py-2 bg-[#B7D6C6] text-fontColor text-lg font-bold rounded-lg hover:bg-primary hover:text-white transition-all">
            See more..
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>