<div class="flex flex-wrap justify-center items-center gap-8 mt-[55px] px-4 md:px-0">
  <div class="relative w-full max-w-[480px] md:w-auto">
    <img class="w-full max-w-[480px]" src="images/images ui/authnilebrand.png">
    <img class="absolute w-[120px] inset-0 top-[40%] mx-auto" src="images/images ui/nile brand.png">
  </div>
  <div class="w-full h-[600px] max-w-[375px] p-6">
    <div>
      <h2 class="text-[28px] md:text-[35px] font-[700] text-fontColor text-center md:text-left">Create Brand</h2>
    </div>

    <form class="mt-6">
      <div class="mt-6 flex flex-col items-center">
        <div class="w-[90px] h-[90px]">
          <img src="images/images ui/ProfileImg.png" class="w-full h-full rounded-full" alt="Profile Image">
        </div>
        <p class="text-fontColor text-[20px]">logo</p>
      </div>

      <div class="relative mt-6">
        <label for="brandname"
          class="absolute left-4 top-[-15px] text-[16px] md:text-[20px] text-fontColor bg-white px-1">Name</label>
        <input type="text" id="brandname" placeholder="Handmade Creations"
          class="block w-full px-4 pt-2 pb-2 mt-2 bg-white rounded-lg border border-gray-300 placeholder:text-placeholder" />
      </div>

      <div class="relative mt-6">
        <label for="description"
          class="absolute left-4 top-[-15px] text-[16px] md:text-[20px] text-fontColor bg-white px-1">description</label>
        <input type="text" id="description" placeholder="A brand showcasing unique handmade crafts from Egypt"
          class="block w-full px-4 pt-2 pb-2 mt-2 bg-white rounded-lg border border-gray-300 placeholder:text-placeholder" />
      </div>

      <div class="relative mt-6">
        <label for="taxID"
          class="absolute left-4 top-[-15px] text-[16px] md:text-[20px] text-fontColor bg-white px-1">taxID</label>
        <input type="text" id="taxID" placeholder="12345789"
          class="block w-full px-4 pt-2 pb-2 mt-2 bg-white rounded-lg border border-gray-300 placeholder:text-placeholder" />
      </div>

      <div class="mt-8 text-center">
        <button class="w-[50%] px-6 py-2 text-[16px] md:text-[20px] text-white bg-primary rounded-full">Submit</button>
      </div>
    </form>
  </div>
</div>
